{% extends 'paper_tracker/base.html' %}
{# File: login.html #}
{# Author: Jake Jeong #}
{# Description: Login page for existing Paper Tracker users. #}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<div class="card">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Login</button>
    </form>
</div>

<p>
    Do not have an account?
    <a href="{% url 'paper_tracker:create_profile' %}">Create one here</a>.
</p>
{% endblock %}
